{% extends 'base/base.html' %}

{% block title %}Estatísticas - VendaSimples{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Estatísticas</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="mb-0">Relatórios e Estatísticas</h5>
                </div>
                <div class="card-body">
                    <p>Esta funcionalidade está em desenvolvimento.</p>
                    <p>Em breve você poderá visualizar:</p>
                    <ul>
                        <li>Estatísticas de vendas</li>
                        <li>Relatórios de produtos</li>
                        <li>Análise de performance</li>
                        <li>Gráficos e métricas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
